body {
  
  background-image: url('bg1.gif');
  background-size: cover;       
  background-repeat: no-repeat; 
  background-position: center;  
  background-attachment: fixed; 
  margin: 0;                    
  height: 100vh;      
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  
}
.content {
  position: relative;   
  z-index: 2;           
  color: white;         
  text-align: center;
  margin-top: 5%;
  font-size: 2em;
}
.phar1 {
  position: relative;   
  z-index: 2;           
  color: white;         
  text-align: center;
  margin-top: 2%;
  font-size: 1em;
}
.more {
  position: relative;   
  z-index: 2;           
  color: white;         
  text-align: center;
  margin-top: 2%;
  font-size: 1em;
}
.butt {
  background-color: transparent;
  border: 2px solid lightblue;
  color: white;
  padding: 12px 24px;   
  display: inline-block; 
  width: auto;     
  font-size: 1em;       
  border-radius: 8px;      
  cursor: pointer;        
  transition: all 0.2s ease; 
  text-align: center;
}

.butt:hover {
  background-color: lightblue;
  transform: translateY(-2px);  
}
.MyProj {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;  
    border: 1px solid blue;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    padding: 10px;
    text-align: center;
	
}


.MyProj .butt1{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: lightblue;
	background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    padding: 10px;
}
.MyProj .butt1:hover {
  background-color: lightblue;
  transform: translateY(-2px);  
}
.MyProj .butt2{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: lightblue;
	background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    padding: 10px;
}
.MyProj .butt2:hover {
  background-color: lightblue;
  transform: translateY(-2px);  
}

.MyProj .butt3{
    min-width: 110px;
    height: 110px;
    line-height: 110px;
    text-align: center;
    background-color: lightblue;
	background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    padding: 20px;
    padding: 10px;
}
.MyProj .butt3:hover {
  background-color: lightblue;
  transform: translateY(-2px);  
}


